[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rensubi
[access "refs/for/refs/*"]
	read = group user/rensubi
	push = group user/rensubi
	label-Code-Review = -2..+2 group user/rensubi
	label-Verified = -1..+1 group user/rensubi
	rebase = group user/rensubi
	removeReviewer = group user/rensubi
	submit = group user/rensubi
[access "refs/heads/*"]
	read = group user/rensubi
	create = group user/rensubi
	push = +force group user/rensubi
	pushMerge = group user/rensubi
[access "refs/tags/*"]
	push = group user/rensubi
	push = +force group user/rensubi
